<h1>Table Component</h1>
<button (click)="logout()">Logout</button>
<br><br>
<button (click)="toFormPage()">Form Page</button>
<br><br>


<table>
    <tr>
        <th>S/N</th>
        <th>Name</th>
        <th>Account Number</th>
        <th>Gender</th>
        <th></th>
    </tr>
    <tr *ngFor="let item of user; let id = index;">
        <td>{{id + 1}}</td>
        <td>{{item.name}}</td>
        <td>{{item.account}}</td>
        <td>{{item.gender}}</td>
        <td>
            <button (click)="editValues(item)">Edit</button> &nbsp;&nbsp;
            <button (click)=" routeToProfile(item)">View</button> &nbsp;&nbsp;
            <button (click)="deleteValue(item)">Delete</button>
        </td>
    </tr>
</table>