<h1>Table Component</h1>
<button>Logout</button>
<br><br>


<table>
    <tr>
        <th>S/N</th>
        <th>Name</th>
        <th>Account Number</th>
        <th>Gender</th>
        <th></th>
    </tr>
    <tr>
        <td>1</td>
        <td>Maria Anders</td>
        <td>Germany</td>
        <td>M</td>
        <td>
            <button (click)="routeToFormPage()">Edit</button> &nbsp;&nbsp;
            <button (click)=" routeToProfile()">View</button> &nbsp;&nbsp;
            <button>Delete</button>
        </td>
    </tr>
</table>