<div class="container">

    <div class="profile-container">

        <div class="header">

            <h1>Profile</h1>

            <p class="arrback" (click)="routeBack()">&larr;</p>
        </div>

        <div class="details">

            <div class="img-container">

                <img src="" alt="profile-photo">

            </div>

            <div class="info">

                <span class="title">Name :</span><span class="content"> {{user.name}}</span><br><br>

                <span class="title">Account Number :</span><span class="content"> {{user.account}}</span><br><br>

                <span class="title">Gender :</span><span class="content"> {{user.gender}}</span>

            </div>

        </div>

    </div>

</div>